{% extends 'frontend_app/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST" action="{% url 'create_character' %}" id="create-character-form">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br>

        <label for="char_type">Character Type:</label>
        <select name="char_type" id="char_type">
            <option value="Human">Human</option>
            <option value="Orc">Orc</option>
            <option value="Elf">Elf</option>
            <option value="Dwarf">Dwarf</option>
        </select><br>

        <button type="submit">Create Character</button>
    </form>

{% endblock %}