{% extends 'frontend_app/base.html' %}

{% load static %}

{% block content %}
<div>
    <h1>Fight</h1>
    <div id="timer">Time: </div>
    <button id="btn-attack" onclick="sendMove('attack', this)">Attack</button>
    <button id="btn-defend" onclick="sendMove('defend', this)">Defend</button>
    <button id="btn-feint" onclick="sendMove('feint', this)">Feint</button>
    <button id="btn-rest" onclick="sendMove('rest', this)">Rest</button>
    <button id="btn-pass" onclick="sendMove('pass', this)">Pass</button>
</div>

<div class="container">
    <h1>Game State</h1>
    <div id="game-state">
        <div class="players">
            <div class="section">
                <h2>Player 1</h2>
                <p><strong>Username:</strong> <span id="p1-username">-</span></p>
                <p><strong>Health:</strong> <span id="p1-health">-</span></p>
                <p><strong>Energy:</strong> <span id="p1-energy">-</span></p>
                <p><strong>Available Actions:</strong> <span id="p1-actions">-</span></p>
            </div>
            <div class="section">
                <h2>Player 2</h2>
                <p><strong>Username:</strong> <span id="p2-username">-</span></p>
                <p><strong>Health:</strong> <span id="p2-health">-</span></p>
                <p><strong>Energy:</strong> <span id="p2-energy">-</span></p>
                <p><strong>Available Actions:</strong> <span id="p2-actions">-</span></p>
            </div>
        </div>
        <div class="section">
            <h2>Message</h2>
            <div id="game-message" class="chat-box"></div>
        </div>
    </div>
    <p class="error" id="error-message"></p>
</div>

<div class="arena">
    <img src="{% static 'frontend_app/png/stickman.png' %}" alt="Stickman 1" class="stickman stickman-left">
    <img src="{% static 'frontend_app/png/stickman.png' %}" alt="Stickman 2" class="stickman stickman-right">
</div>


<script>
    const username = '{{ user.username|escapejs }}';
    const room_token = '{{ room_token|escapejs }}';
    const socket = new WebSocket(`wss://game-production-2d31.up.railway.app/ws/game/${room_token}/${username}/`);

    const timer = document.getElementById('timer');

    const p1Username = document.getElementById('p1-username');
    const p1Health = document.getElementById('p1-health');
    const p1Energy = document.getElementById('p1-energy');
    const p1Actions = document.getElementById('p1-actions');

    const p2Username = document.getElementById('p2-username');
    const p2Health = document.getElementById('p2-health');
    const p2Energy = document.getElementById('p2-energy');
    const p2Actions = document.getElementById('p2-actions');

    const gameMessage = document.getElementById('game-message');
    const errorMessage = document.getElementById('error-message');

    let lastButton = null;

    socket.onopen = function() {
        console.log('WebSocket connection established.');
    };

    socket.onmessage = (event) => {
        console.log(event.data);

        try {
            const data = JSON.parse(event.data);

            if (data.message_type === 'timer') {
                timer.textContent = data.timer;
            }

            if (data.message_type === 'game started') {
                p1Username.textContent = data.p1_username;
                p2Username.textContent = data.p2_username;

                p1Health.textContent = data.p1_status[0];
                p1Energy.textContent = data.p1_status[1];
                p1Actions.textContent = data.p1_status[2];

                p2Health.textContent = data.p2_status[0];
                p2Energy.textContent = data.p2_status[1];
                p2Actions.textContent = data.p2_status[2];

                if (username === data.p1_username) {
                    updateButtons(data.p1_status[2] || '');
                } else {
                    updateButtons(data.p2_status[2] || '');
                }

                addMessage(data.message);
            }

            if (data.message_type === 'turn') {
                p1Health.textContent = data.p1_status[0];
                p1Energy.textContent = data.p1_status[1];
                p1Actions.textContent = data.p1_status[2];

                p2Health.textContent = data.p2_status[0];
                p2Energy.textContent = data.p2_status[1];
                p2Actions.textContent = data.p2_status[2];

                if (username === data.p1_username) {
                    updateButtons(data.p1_status[2] || '');
                } else {
                    updateButtons(data.p2_status[2] || '');
                }

                addMessage(data.message);
                parseAnimation(data)
            }

            if (data.message_type === 'game result') {
                addMessage(data.message);
            }

        } catch (err) {
            console.error('Error details:', err);
            errorMessage.textContent = 'Error processing data: ' + err.message;
        }
    };

    socket.onerror = function(error) {
        console.error('WebSocket Error:', error);
    };

    socket.onclose = function() {
        console.log('WebSocket connection closed.');
    };

    function parseAnimation(data) {
            if (data.p1_action === 'attack') {
                const attacker = 'stickman1';
                attack(attacker);
            }
            if (data.p2_action === 'attack') {
                const attacker = 'stickman2';
                attack(attacker);
            }
            if (data.p1_action === 'defend') {
                const defender = 'stickman1';
                defend(defender);
            }
            if (data.p2_action === 'defend') {
                const defender = 'stickman2';
                defend(defender);
            }
            if (data.p1_action === 'feint') {
                const fainter = 'stickman1';
                feint(fainter);
            }
            if (data.p2_action === 'feint') {
                const fainter = 'stickman2';
                feint(fainter);
            }
    }

    function sendMove(choice, button) {
        console.log('Send Move')

        if (lastButton) {
            lastButton.classList.remove('active');
        }

        button.classList.add('active');
        lastButton = button;

        socket.send(JSON.stringify({
            player: username,
            choice: choice,
        }));
    }

    function updateButtons(availableActions) {
        console.log(availableActions)

        if (lastButton) {
            lastButton.classList.remove('active');
        } else {
            console.log('lastButton not found');
        }

        const buttons = {
            attack: document.getElementById('btn-attack'),
            defend: document.getElementById('btn-defend'),
            feint: document.getElementById('btn-feint'),
            rest: document.getElementById('btn-rest'),
            pass: document.getElementById('btn-pass'),
        };

        for (const key in buttons) {
            buttons[key].disabled = true;
        }

        availableActions.forEach(action => {
            if (buttons[action]) {
                buttons[action].disabled = false;
            }
        });
    }

    function attack(attacker) {
        const stickmanLeft = document.querySelector(".stickman-left");
        const stickmanRight = document.querySelector(".stickman-right");

        console.log('attack started')

        const stickman = attacker === 'stickman1' ? stickmanLeft : stickmanRight;
        const attackClass = attacker === 'stickman1' ? 'stickman-attack-left' : 'stickman-attack-right';

        if (!stickman) {
            console.error('Stickman element not found.');
            return;
        }

        stickman.classList.add(attackClass);

        setTimeout(() => {
            stickman.classList.remove(attackClass);
        }, 1000);
    }

    function defend(defender) {
        const stickmanLeft = document.querySelector(".stickman-left");
        const stickmanRight = document.querySelector(".stickman-right");

        console.log('defense started');

        const stickman = defender === 'stickman1' ? stickmanLeft : stickmanRight;
        const defendClass = defender === 'stickman1' ? 'stickman-defend-left' : 'stickman-defend-right';

        if (!stickman) {
            console.error('Stickman element not found.');
            return;
        }

        stickman.classList.add(defendClass);

        setTimeout(() => {
            stickman.classList.remove(defendClass);
        }, 1000);
    }

    function feint(fainter) {
        const stickmanLeft = document.querySelector(".stickman-left");
        const stickmanRight = document.querySelector(".stickman-right");

        console.log('feint started');

        const stickman = fainter === 'stickman1' ? stickmanLeft : stickmanRight;
        const feintClass = fainter === 'stickman1' ? 'stickman-feint-left' : 'stickman-feint-right';

        if (!stickman) {
            console.error('Stickman element not found.');
            return;
        }

        stickman.classList.add(feintClass);

        setTimeout(() => {
            stickman.classList.remove(feintClass);
        }, 500);
    }

    function addMessage(message) {
        const chatBox = document.getElementById("game-message");

        const messageElement = document.createElement("p");

        messageElement.innerHTML = message.replace(/\n/g, '<br>');

        chatBox.appendChild(messageElement);

        chatBox.scrollTop = chatBox.scrollHeight;
    }


</script>
{% endblock %}
